<!DOCTYPE html>
<html>
	<head>
		<title> LOTTE </title>
	</head>
	<body>

		<h1> LothellaMeep The Ancient Greek </h1>

		<p style="color:red;">Roses are red,<br>
		<p style="color:blue;">Violets are blue,<br>
			I'll never love somebody the way I love you. 
		</p>
		
		<p>...</p>

		<p>Roses are red, <br>
			Violets are blue. <br>
			My hearth is full of love for you.
		</p>

		<img src="Us.jpeg">


	</body>
</html>
